/* *{width: 100vw;
filter: invert(0);
background: blue;
} */
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterBold"),
        url(./fonts//Inter-Bold.woff) format("woff");
}
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterMedium"),
        url(./fonts//Inter-Medium.woff) format("woff");
}
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterRegular"),
        url(./fonts//Inter-Regular.woff) format("woff");
}

html,
body {
    background-size: 60vh 100%;
    background-repeat: no-repeat;
    background-color: #f3f6ff;
    background: linear-gradient(
            179deg,
            rgba(243, 246, 255, 0) -3.09%,
            rgba(243, 246, 255, 0.587712) 32.33%,
            #f3f6ff 54.59%
        ),
        linear-gradient(
            203.74deg,
            rgba(152, 126, 255, 0.352) 17.54%,
            rgba(235, 243, 208, 0) 57.49%
        ),
        radial-gradient(
            20.51% 51.48% at 95.21% 39.87%,
            rgba(220, 141, 220, 0.6) 0%,
            rgba(220, 141, 220, 0) 100%
        ),
        radial-gradient(
            41.09% 79.83% at 54.1% 43.63%,
            rgba(203, 173, 235, 0.6) 0%,
            rgba(194, 166, 241, 0) 100%
        ),
        radial-gradient(
            68.33% 65.03% at 24.38% 40.71%,
            rgba(255, 253, 177, 0.6) 0%,
            rgba(254, 228, 191, 0.6) 46.6%,
            rgba(240, 189, 208, 0.6) 69.5%,
            rgba(255, 129, 38, 0) 100%
        ),
        linear-gradient(
            86.83deg,
            rgba(33, 255, 169, 0.4) 26.09%,
            rgba(205, 249, 232, 0) 42.6%
        ),
        #f3f6ff;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #1c1c1c;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #1c1c1c;
}

h1,
h2,
h3,
h4,
h5 {
    /* margin: 3rem 0 1.38rem; */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small,
.text_small {
    font-size: 0.75rem;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: #d5e2fa;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #6495ed;
    border-radius: 10px;
}

label {
    font-family: "Inter", sans-serif;
    margin-bottom: 8px;
}

caption {
    font-family: "Inter", sans-serif;
    margin-bottom: 8px;
}

@media (max-width: 990px) {
    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 106%;
        /* or 25px */
        margin-bottom: 20px;
        letter-spacing: -0.2px;
    }
    h2 {
        font-size: 24px;
        line-height: 106%;
        /* or 22px */
        margin-bottom: 14px;
    }
    h3 {
        font-size: 19.35px;
        line-height: 106%;
        /* or 21px */
    }
    h4 {
        font-size: 18.14px;
        line-height: 106%;
        /* or 19px */
    }
    h5 {
        font-size: 17px;
        line-height: 106%;
        /* or 18px */
    }
    h6 {
        font-size: 14.93px;
        line-height: 106%;
        /* or 16px */
        letter-spacing: 1.8px;
    }
    body {
        font-size: 16px;
        /*margin-bottom: 20px;*/
    }

    label {
        margin-bottom: 20px;
    }

    caption {
        margin-bottom: 14px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
