@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterBold"),
        url(./fonts//Inter-Bold.woff) format("woff");
}
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterMedium"),
        url(./fonts//Inter-Medium.woff) format("woff");
}
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterRegular"),
        url(./fonts//Inter-Regular.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #444444;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #fff3f3;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
